include common/logo/logo.pug
include common/social/social.pug

mixin footer-mobile()
  .footer-mobile
    .footer-mobile__logo
      +logo()
    .footer-mobile__copyright
      p Copyright © 2018 Toxin отель. Все права защищены.
    +social
