include ../logo/logo.pug
include ../social/social.pug

mixin footer-mobile()
  div(class='footer-mobile')
    div(class='footer-mobile__logo')
      +logo()
    div(class='footer-mobile__copyright')
      p Copyright © 2018 Toxin отель. Все права защищены.
    +social
