include common/header/header.pug
include common/footer/footer.pug
include common/list/list.pug
include common/comment/comment.pug
include common/bullet/bullet.pug
include common/poll/poll.pug
include cards/payment/payment.pug

-
  const rooms = require('assets/json/rooms.json');
  const room = rooms.find(obj => {return obj.number === 888});

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Room Details
  body.page
    header.page__header
      +header
    main.page__main
      .page__images
        each i in [0,1,2]
          img.page__image(src=require('assets/images/rooms/'+room.images[i]))
      .page__content
        .page__elements
          .page__wrapper
            .page__element
              .page__title
                h2 сведения о номере
              +list({
                items: [
                  {title: 'Комфорт', hint: 'Шумопоглощающие стены', icon: 'insert_emoticon'},
                  {title: 'Удобство', hint: 'Окно в каждой из спален', icon: 'location_city'},
                  {title: 'Уют', hint: 'Номер оснащён камином', icon: 'whatshot'}
                ]
              })
            .page__element
              .page__title
                h2 впечатления от номера
              +poll({
                awesome: 130,
                good: 65,
                fair: 65,
                bad: 0
              })
          .page__element
            .page__title
              h2 отзывы посетителей номера
            +comment({
              avatar: 'avatar1.png',
              name: 'Мурад Сарафанов',
              date: '5 дней назад',
              likes: 12,
              active: true,
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий./br И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто/br не жаловался из соседей.'
            })
            +comment({
              avatar: 'avatar2.png',
              name: 'Патрисия Стёклышкова',
              date: 'неделю назад',
              likes: 2,
              text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,/br каждый день новое блюдо и десерт как комплимент'
            })
          .page__wrapper
            .page__element
              .page__title
                h2 Правила
              +bullet({
                items: [
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00,/br а выезд до 12:00'
                ]
              })
            .page__element
              .page__title
                h2 отмена
              .page__text
                p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .page__element
          +payment({
            number: 888,
            type: 'люкс',
            cost: 9990,
            fee: 0,
            discount: 2179,
            additionalFee: 300,
            guests: [2, 1, 0]
          })
    footer.page__footer
      +footer
