include common/rate/rate.pug

mixin room(options)
  - const rooms = require('assets/json/rooms.json');

  .room('data-number'=options.number)
    .room__images
      .room__left
      .room__right
      .room__prev.material-icons.unselect expand_more
      .room__next.material-icons.unselect expand_more
      each image in rooms[options.number].images
        img.room__image(src=require('assets/images/rooms/'+image))
      .room__selector
        - for (let i in rooms[options.number].images)
          .room__selector-item
    .room__about
      .room__info
        .room__number
          p №&nbsp;
          p #{options.number}
          if rooms[options.number].luxe == true
            p люкс
        .room__cost
          p #{rooms[options.number].cost}₽&nbsp;
          p в сутки
      .room__feedback
        .room__rating
          +rate({rating: rooms[options.number].rating})
        .room__reviews
          p.unselect #{rooms[options.number].reviews}&nbsp;
          p.unselect отзывов
