.colors-and-type__icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.colors-and-type__content {
  display: grid;
  grid-template-columns: 415px 1fr;
  margin-inline: 150px;
  margin-block: 140px;
}
