$dark-shade-100: #1F2041;
$dark-shade-75: #1F2041BF;
$dark-shade-50: #1F204180;
$dark-shade-25: #1F204140;
$dark-shade-5: #1F20410D;
$purple: #BC9CFF;
$green: #6FCF97;
$primary-gradient: linear-gradient(to bottom,#BC9CFF,#8BA4F9);

@mixin text-gradient {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
