$dark-shade: #1F2041;
$dark-shade-75: rgba($dark-shade, .75);
$dark-shade-50: rgba($dark-shade, .5);
$dark-shade-25: rgba($dark-shade, .25);
$dark-shade-10: rgba($dark-shade, .1);
$dark-shade-5: rgba($dark-shade, .05);
$purple: #BC9CFF;
$green: #6FCF97;
$primary-gradient: linear-gradient(to bottom,#BC9CFF,#8BA4F9);
$primary-gradient-25: linear-gradient(to bottom,rgba(#BC9CFF, .25), rgba(#8BA4F9, .25));
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

@mixin text-gradient {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
