$dark-shade: #1F2041;
$dark-shade-75: rgba($dark-shade, .75);
$dark-shade-50: rgba($dark-shade, .5);
$dark-shade-25: rgba($dark-shade, .25);
$dark-shade-5: rgba($dark-shade, .05);
$purple: #BC9CFF;
$green: #6FCF97;
$primary-gradient: linear-gradient(to bottom,#BC9CFF,#8BA4F9);

@mixin text-gradient {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
