@use 'assets/scss/variables' as vars;

.page {

  &__main {
    display: grid;
    align-items: center;
    position: relative;
  }

  &__search {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 140px;
    transition: .3s;
  }

  &__text {
    position: absolute;
    right: 134px;
    text-align: right;
    color: vars.$dark-shade-75;
    transition: .3s;

    &_top {
      top: 18px;
    }

    &_bottom {
      bottom: 18px;
    }
  }
}

@media (710px < width < 940px) {
  .page {
    &__search {
      top: 15px;
      left: 30px;
    }

    &__text {
      right: 30px;
    }
  }
}

@media (0 < width < 710px) {
  .page {
    &__text {
      display: none;
    }

    &__slideshow {
      position: absolute;
    }

    &__search {
      position: initial;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
