@use 'assets/scss/variables' as vars;

.payment {
  display: grid;
  max-width: 380px;
  padding-inline: 30px;
  padding-block: 40px;
  background: white;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0,0,0,.2);
  gap: 20px;

  & > div:nth-child(4) {
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__wrapper {
    display: flex;
    gap: 5px;
  }

  &__element {
    display: grid;
    gap: 5px;
  }

  &__room {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    color: vars.$dark-shade;
    height: 30px;

    & > p:nth-child(1) {
      line-height: 17px;
    }

    & > p:nth-child(2) {
      font-size: 24px;
    }

    & > p:nth-child(3) {
      padding-left: 8px;
      line-height: 15px;
      color: vars.$purple;
      font-size: 12px;
    }
  }

  &__price {
    display: flex;
    height: 20px;
    line-height: 18px;

    & > p:nth-child(1) {
      font-weight: bold;
    }

    & > p:nth-child(2) {
      font-size: 12px;
    }
  }

  &__titles {
    display: flex;
    gap: 20px;

    & > h3 {
      width: 150px;
    }
  }

  &__tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid vars.$dark-shade-25;
    color: vars.$dark-shade-25;
    border-radius: 22px;
  }

  &__cost, &__fee, &__additional-fee {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    width: 214px;
  }

  &__result {
    display: flex;
    justify-content: space-between;

    & > div:nth-child(1), & > div:nth-child(3) {
      font-size: 19px;
      font-weight: bold;
      color: vars.$dark-shade;
    }
  }

  &__separator {
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px dotted vars.$dark-shade-25;
  }
}
