doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Main page
  body 
    nav
      ul 
        li
          a(href='headers_footers.html') Headers & Footers
        li
          a(href='colors_type.html') Colors & Type