mixin social()
  div(class='social')
      a(href='#')
        span(class='fa-brands fa-twitter')
      a(href='#')
        span(class='fa-brands fa-facebook-square')
      a(href='#')
        span(class='fa-brands fa-instagram')