@use '../../assets/scss/variables.scss' as vars;

.social {
  display: flex;
  gap: 20px;

  & a {
    background: vars.$primary-gradient;
    font-size: 24px;
    line-height: 23px;
    @include vars.text-gradient;

    &:hover {
      font-weight: normal;
      background: vars.$dark-shade-50;
      @include vars.text-gradient;
    }
  }
}
