include common/header/header.pug
include common/calendar/calendar.pug
include common/dropdown/dropdown.pug
include common/range/range.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Search Room/Filter
  body.page
    header.page__header
      +header
    main.page__main
      .page__block
        +calendar({
          titles: ['Даты пребывания в отеле'],
          dates: ['2019,08,19', '2019,08,23']
        })
        +dropdown({
          type: 'guests',
          title: 'гости',
            items: [
              {name: 'взрослые', variants: ['гость', 'гостя', 'гостей'], count: 2},
              {name: 'дети', variants: ['гость', 'гостя', 'гостей'], count: 1},
              {name: 'младенцы', variants: ['младенец', 'младенца', 'младенцев'], count: 1}
            ],
            placeholder: 'Сколько гостей'
        })
        +range({
          title: 'диапазон цены',
          tooltip: 'Стоимость за сутки пребывания в номере',
          symbol: '₽',
          max: 15000,
          step: 1000,
          defMin: 5000,
          defMax: 10000
        })
