include common/dropdown/dropdown.pug
include common/button/button.pug
include common/calendar/calendar.pug

mixin search(options)
  .search
    h1 Найдём номера под ваши пожелания
    .search__elements
      .search__element
        +calendar({
          titles: ['прибытие', 'выезд'],
          placeholder: 'ДД.ММ.ГГГГ'
        })
      .search__element
        +dropdown({
          type: 'guests',
          title: 'гости',
          items: [
            {name: 'взрослые', variants: ['гость', 'гостя', 'гостей']},
            {name: 'дети', variants: ['гость', 'гостя', 'гостей']},
            {name: 'младенцы', variants: ['младенец', 'младенца', 'младенцев']}
          ],
          placeholder: 'Сколько гостей'
        })
    +button({
      text: 'подобрать номер',
      theme: 'arrow'
    })
