.button__content {
  padding: 9px 20px 10px 20px;
  border-radius: 22px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;

  &_theme_white {
    background-color: white;
    color: #BC9CFF;
  }
}
