mixin pagination(options)
  .pagination
    -
      let pagesCount = Math.ceil(options.allItemsCount / options.pageItemsCount);
      let paginationAttrs = {
        'data-all-items-count': options.allItemsCount,
        'data-page-items-count': options.pageItemsCount
      };

    .pagination__pages&attributes(paginationAttrs)
      - for (let i = 1; i <= pagesCount; i++)
        a.pagination__item.pagination__number.unselect(tabindex='0') #{i}
      button.pagination__item.pagination__arrow
        span.material-icons.unselect arrow_forward
    span.pagination__info.unselect
