@use 'assets/scss/variables' as vars;

.page {
  &__main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 683px;
  }

  &__card {
    z-index: 1;
    width: 380px;
  }

  &__slideshow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    transition: .5s;
  }
}
