@use '__content/__content.scss';

.button {
  $border: 1px;

  cursor: pointer;
  border: $border solid transparent;
  border-radius: 22px; 
  padding: $border; 
  background: linear-gradient(to bottom,#BC9CFF,#8BA4F9); 

  &:hover {
    opacity: 0.5;
  }
}