@use '../../assets/scss/variables' as vars;

.button {
  cursor: pointer;
  border-inline: 2px solid transparent;
  border-radius: 22px;
  background: vars.$primary-gradient;
  width: fit-content;
  height: 44px;

  &:hover {
    background: vars.$primary-gradient-50;
  }

  &_active {
    background: vars.$primary-gradient-50;
  }

  &__content {
    border-radius: 22px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    padding-inline: 20px;

    &_theme {
      &_white {
      background-color: white;
      color: #BC9CFF;
      }     
    }
  }
}
