@use '../../assets/scss/variables' as vars;

.button {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-inline: 2px solid transparent;
  border-radius: 22px;
  background: vars.$primary-gradient;
  width: 100%;
  height: 44px;

  &:hover, &:focus-visible, &_active {
    background: vars.$primary-gradient-50;
  }

  &__content {
    border-radius: 22px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    white-space: nowrap;
    width: 100%;

    &_theme {
      &_white {
        background-color: white;
        color: #BC9CFF;
      }
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    color: white;
  }
}
