@use '../../assets/scss/variables' as vars;

.input {
  display: flex;
  border: 1px solid rgba(vars.$dark-shade, .25);
  border-radius: 4px;
  height: 44px;

  &:focus-within {
    border: 1px solid rgba(vars.$dark-shade, .5);
  }

  &__text {
    line-height: 44px;
    padding-left: 15px;
  }

  &__arrow-button {
    cursor: pointer;
    line-height: 44px;
    width: 44px;
    text-align: center;
    @include vars.text-gradient;

    &:hover {
      opacity: .5;
    }
  }
}
