mixin input(options)
  -
    let isArrow = options.arrowButton ? true : false;
    let inputPlaceholder = options.type == 'email' ? 'Email' : '';
  div(class='input')
    input(type=options.type class='input__text' placeholder=inputPlaceholder)
    if isArrow == true
      input(type='submit' class='input__arrow-button material-icons' value='arrow_forward')
