mixin input(options)
  -
    let shellAttrs = {
      ...(options.focused === true && {class: 'input__shell_focused'})
    };
    let insideAttrs = {
      type: options.type,
      ...(options.value && {value: options.value}),
      ...(options.placeholder ? {placeholder: options.placeholder} : {placeholder: options.type.charAt(0).toUpperCase()+options.type.slice(1)}),
      ...(options.required === true && {required: true}),
      ...(options.mask && {'data-mask': options.mask}),
      ...(options.button && {style: 'padding-right: 0; margin-right: 44px;'})
    };

  .input
    .input__shell&attributes(shellAttrs)
      input.input__inside&attributes(insideAttrs) 
      if options.button 
        input.input__button.material-icons(type='submit' value='arrow_forward')
