@use '../../assets/scss/variables' as vars;

.input {

  &__shell {
    display: flex;
    justify-content: space-between;
    height: 44px;
    border: 1px solid vars.$dark-shade-25;
    border-radius: 4px;

    &_focused, &:focus-within, &:focus-visible, &:focus, &:hover {
      border: 1px solid vars.$dark-shade-50;
    }
  }

  &__inside {
    width: 100%;
    padding-inline: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    right: 0;
    line-height: 43px;
    width: 44px;
    text-align: center;
    cursor: pointer;
    background: vars.$primary-gradient;
    @include vars.text-gradient;

    &:hover {
      background: vars.$primary-gradient-50;
      @include vars.text-gradient;
    }
  }
}
