include common/like/like.pug

mixin comment(options)
  .comment
    a(href='#')
      img.comment__avatar(src=require('assets/images/'+options.avatar))
    .comment__info
      a.comment__name #{options.name}
      .comment__date.unselect #{options.date}
    .comment__likes
      +like({
        count: options.likes,
        active: options.active
      })
    .comment__text
      - for (let text of options.text.split('/br'))
        p #{text}
