include ../../common.blocks/header/header.pug
include ../../common.blocks/menu/menu.pug
include ../../common.blocks/logo/logo.pug
include ../../common.blocks/button/button.pug
include ../../common.blocks/account/account.pug
-
  let menuItems = [
    {
      name: 'о нас',
      link: '#',
      focused: true
    },
    {
      name: 'услуги',
      link: '#',
      arrow: true
    },
    {
      name: 'вакансии',
      link: '#'
    },
    {
      name: 'новости',
      link: '#'
    },
    {
      name: 'соглашения',
      link: '#',
      arrow: true
    }
  ]

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TOXIN Hotel
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    +header({
      menuItems: menuItems
    }) 
    +header({
      menuItems: menuItems,
      logged: true
    })