mixin checkbox(options)
  .checkbox
    -
      let isExpandable = options.expandable === true;
      let isRich = options.rich === true;
      let listAttrs = {
        ...(isExpandable && {class: 'checkbox__list_expandable'}),
        ...(options.expanded === true && {class: 'checkbox__list_expandable checkbox__list_visible'})
      };
      let arrowAttrs = {
        ...(options.expanded === true && {class: 'checkbox__arrow_rotate'})
      };
      let labelAttrs = {
        ...(isRich && {class: 'checkbox__label_rich'})
      };
      let hintAttrs = {
        ...(isRich && {class: 'checkbox__hint_rich'})
      };

    if (isExpandable)
      .checkbox__shell
        .checkbox__title.unselect #{options.title}
        .checkbox__arrow.material-icons.unselect&attributes(arrowAttrs) expand_more

    .checkbox__list&attributes(listAttrs)
      - for (let item of options.items)
        -
          let fieldAttrs = {
            ...(item.checked === true && {checked: true})
          };

        label.checkbox__block.unselect 
          .checkbox__labels
            .checkbox__label&attributes(labelAttrs) #{item.text}
            if item.hint
              .checkbox__hint&attributes(hintAttrs)
                - for (let text of item.hint.split('/br'))
                  p #{text}
          .checkbox__fields
            input.checkbox__field.checkbox__field_hidden(type='checkbox')&attributes(fieldAttrs)
            .checkbox__field.checkbox__field_visible.unselect
            .checkbox__flag
              div
