@use 'assets/scss/variables' as vars;

.checkbox {
  position: relative;

  &__label {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10px;
    color: vars.$dark-shade-50;
  }

  &__fields {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 2px;
  }

  &__field {
    width: 20px;
    height: 20px;
    border-radius: 4px;

    &_hidden {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &_visible {
      border: 1px solid vars.$dark-shade-25;
    }

    &_checked {
      border-color: vars.$purple;
      color: vars.$purple;
    }
  }

  &__flag {
    position: absolute;
    transform: translateZ(1px) rotate(45deg);
    background: vars.$primary-gradient;
    padding: 0 2px 2px 0;
    top: 7px;
    opacity: 0;

    &_visible {
      opacity: 1;
    }

    & > div {
      background: white;
      width: 4px;
      height: 6px;
    }
  }

  &__shell {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 44px;
  }


  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    line-height: 44px;
    color: vars.$dark-shade-50;

    &_rotate {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    transform-origin: top;
    transition: .3s;

    &_expandable {
      display: none;
      opacity: 0;
      transform: scaleY(0);
    }

    &_visible {
      display: flex;
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
