mixin checkbox(options)
  .checkbox
    - for (let item of options.items)
      -
        let fieldAttrs = {
          ...(item.checked === true && {checked: true})
        };

      label.checkbox__label.unselect #{item.text}<br>#{item.hint}
        .checkbox__fields
          input.checkbox__field.checkbox__field_hidden(type='checkbox')&attributes(fieldAttrs)
          .checkbox__field.checkbox__field_visible.unselect
            .checkbox__flag
              div
              
              