mixin calendar(options)
  -
    let calendarAttrs = {
      ...(options.dates && {'data-dates': options.dates.join('-')})
    };
    let inputAttrs = {
      ...(options.placeholder && {placeholder: options.placeholder})
    };

  .calendar&attributes(calendarAttrs)
    .calendar__elements
      each title in options.titles
        .calendar__element
          .calendar__title
            h3 #{title}
          .calendar__input(tabindex=1)
              input.unselect(disabled)&attributes(inputAttrs)
              span.unselect.calendar__arrow.material-icons expand_more
      .calendar__datepicker
