mixin header(options)
  -
    let isLogged = options?.logged ? options.logged : false

  header(class='header')
    div(class='header__logo')
      +logo()
    +menu(options.menuItems)
    if (isLogged === false)
      div(class='header__buttons')
        +button({
          text: 'войти',
          type: 'white'
        })
        +button({
          text: 'Зарегистрироваться'
          })
    else
      div(class='header__account')
        +account()
  