include common/logo/logo.pug
include common/button/button.pug
include common/account/account.pug

mixin header(options)
  -
    let isLogged = options?.logged ? options.logged : false;
    let menuItems = [
      {
        name: 'о нас',
        link: '#',
      },
      {
        name: 'услуги',
        link: '#',
        submenu: [
          {
            name: 'Найти номер',
            link: '#'
          },
          {
            name: 'Заказать номер',
            link: '#'
          },
          {
            name: 'Список номеров',
            link: '#'
          }
        ]
      },
      {
        name: 'вакансии',
        link: '#'
      },
      {
        name: 'новости',
        link: '#'
      },
      {
        name: 'соглашения',
        link: '#',
        submenu: [
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          }
        ]
      }
    ];
    if (options?.focused >= 0) {menuItems[options.focused].focused = true};

  header.header
    .header__logo
      +logo()
    .header__content
      nav.header__menu
        each item in menuItems
          -
            let hasSubmenu = item.submenu ? true : false;
            let linkAttrs = {
              ...(item.focused === true && {class: 'header__menu-link_focused'}),
              ...(item.link && {href: item.link})
            }
          .header__menu-content
            if hasSubmenu
              a.header__menu-link&attributes(linkAttrs)
                span #{item.name}
                span.material-icons expand_more
              .header__submenu
                each sub in item.submenu
                  a(href=sub.link) #{sub.name}
            else
              a.header__menu-link&attributes(linkAttrs)
                span #{item.name}
      if (isLogged === false)
        .header__buttons
          +button({
            text: 'войти',
            theme: 'white',
            height: 34
          })
          +button({
            text: 'Зарегистрироваться',
            height: 34
            })
      else
        .header__account
          +account()
