@use 'assets/scss/variables' as vars;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 70px;
  padding-inline: 140px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  transition: .3s;
  position: relative;

  &__logo {
    width: fit-content;
  }

  &__mobile-menu {
    cursor: pointer;
    color: vars.$purple;
    font-size: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    padding: 10px;
    display: none;
    
    &:hover, &:focus-visible {
      color: vars.$dark-shade-50;
    }
  }

  &__content {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 20px;

    & > button:nth-child(1) {
      width: 87px;
    }

    & > button:nth-child(2) {
      width: 196px;
    }
  }

  &__account {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

    &-link {
      display: flex;
      align-items: center;
      white-space: nowrap;
      line-height: 25px;

      &_focused, &:focus, &:hover, &:focus-visible {
        color: vars.$dark-shade-75;
        @include vars.fake-bold;
      }

      &_mobile {
        display: none;
      }

      & > span:nth-child(1)::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 24px;
    left: -3px;
    z-index: 3;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(vars.$dark-shade, .25);
    border-radius: 0 0 4px 4px;
    @include vars.hidden-element;

    &_visible {
      display: block;
    }

    & > .header__menu-link {
      padding-left: 6px;
    }
  }

  &__separator {
    height: 30px;
    border-right: 1px solid rgba(vars.$dark-shade, .1);
  }
}

@media (0 < width < 1200px) {
  .header {
    padding-inline: 20px;
  }
}

@media (0 < width < 940px) {
  .header {
    &__mobile-menu {
      display: block;
    }

    &__menu {
      position: absolute;
      flex-direction: column;
      z-index: 3;
      top: 70px;
      left: 0;
      background: white;
      width: 100%;
      align-items: start;
      gap: 0;
      border-bottom: 1px solid vars.$dark-shade-25;
      @include vars.hidden-element;

      &_visible {
        display: flex;
      }

      &-link {
        width: 100%;
        padding-left: 30px;
        line-height: 40px;
        border-top: 1px solid vars.$dark-shade-10;

        &_mobile {
          display: block;
        }

        &:hover {
          background: vars.$dark-shade-5;
        }
      }
    }

    &__submenu {
      position: initial;

      & > .header__menu-link {
        padding-left: 45px;
      }
    }

    &__buttons, &__account {
      display: none;
    }
  }
}
