mixin header()
  header(class='header')
    div(class='header__logo')
      +logo()
    +menu([
      {
        name: 'о нас',
        link: '#',
        focused: true
      },
      {
        name: 'услуги',
        link: '#',
        arrow: true
      },
      {
        name: 'вакансии',
        link: '#'
      },
      {
        name: 'новости',
        link: '#'
      },
      {
        name: 'соглашения',
        link: '#',
        arrow: true
      }
    ])
    div(class='header__buttons')
      +button({
        text: 'войти',
        type: 'white'
      })
      +button({
        text: 'Зарегистрироваться'
        })
  