include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug
include ../account/account.pug

mixin header(options)
  -
    let isLogged = options?.logged ? options.logged : false;
    let menuItems = [
      {
        name: 'о нас',
        link: '#',
        focused: true
      },
      {
        name: 'услуги',
        link: '#',
        submenu: [
          {
            name: 'Найти номер',
            link: '#'
          },
          {
            name: 'Заказать номер',
            link: '#'
          },
          {
            name: 'Список номеров',
            link: '#'
          }
        ]
      },
      {
        name: 'вакансии',
        link: '#'
      },
      {
        name: 'новости',
        link: '#'
      },
      {
        name: 'соглашения',
        link: '#',
        submenu: [
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          },
          {
            name: 'соглашение',
            link: '#'
          }
        ]
      }
    ];

  header(class='header')
    div(class='header__logo')
      +logo()
    +menu(menuItems)
    if (isLogged === false)
      div(class='header__buttons')
        +button({
          text: 'войти',
          theme: 'white',
          height: 34
        })
        +button({
          text: 'Зарегистрироваться',
          height: 34
          })
    else
      div(class='header__account')
        +account()
