@use 'assets/scss/variables' as vars;

.slideshow {
  position: relative;

  &__image {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    width:  100%;

    &_hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}
