include common/input/input.pug
include common/button/button.pug

mixin login(options)
  .login
    .login__element
      h1 Войти
    .login__element
      .login__wrapper
        +input({
          type: 'email'
        })
        +input({
          type: 'password',
          placeholder: 'Пароль'
        })
    .login__element
      +button({
        text: 'войти',
        theme: 'arrow'
      })
    .login__element
      p Нет аккаунта на Toxin?
      +button({
        text: 'создать',
        theme: 'white'
      })
