include common/icon/icon.pug
include common/input/input.pug

mixin element(options)
  -
    let elementType = options.type.split('-');
    let inputValue = options.value ? options.value : '';

  div(class='form-elements__element')
    h3(class='form-elements__title') #{options.name}
    if options.mod
      h3(class='form-elements__mod') #{options.mod}
    case elementType[0] 
      when 'input'
        div(class='form-elements__input')
          +input({
            type: elementType[1],
            value: inputValue,
            ...(options.placeholder && {placeholder: options.placeholder}),
            ...(options.dropdown && {dropdown: options.dropdown}),
            ...(options.pattern && {pattern: options.pattern}),
            ...(options.focused && {focused: true}),
            ...(options.arrowButton && {arrowButton: true}),
            ...(elementType[1] == 'masked' && elementType[2] ? {maskedType: elementType[2]} : ''),
            ...(elementType[1] == 'dropdown' && elementType[2] ? {dropdownType: elementType[2]} : ''),
            ...(elementType[1] == 'text' && elementType[2] ? {textType: elementType[2]} : '')
          })
  

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    .form-elements__icon
      +icon
    .form-elements__content
      .form-elements__inputs
        +element({
          name: 'text field',
          mod: 'default',
          type: 'input-email'
        })
        +element({
          name: 'text field',
          mod: 'hover/focus',
          type: 'input-text',
          focused: true,
          value: 'This is pretty awesome'
        })
        +element({
          name: 'dropdown',
          type: 'input-dropdown-guests',
          placeholder: 'Сколько гостей',
          dropdown: ['взрослые', 'дети', 'младенцы']
        })
        +element({
          name: 'masked text field',
          type: 'input-masked-date',
          placeholder: 'ДД.ММ.ГГГГ'
        })
        .form-elements__dates
          +element({
            name: 'date dropdown',
            type: 'input-text-date',
            placeholder: 'ДД.ММ.ГГГГ'
          })
          +element({
            name: 'date dropdown',
            type: 'input-text-date',
            placeholder: 'ДД.ММ.ГГГГ',
            value: '19.08.2019'
          })
        +element({
          name: 'filter date dropdown',
          type: 'input-text-dateRange',
          placeholder: 'Диапазон дат',
          value: '19.08.2019-23.08.2019'

        })
        +element({
          name: 'subscription text field',
          type: 'input-email',
          placeholder: 'Email',
          arrowButton: true
        })
        +element({
          name: 'dropdown',
          type: 'input-dropdown-items',
          placeholder: 'Количество спален, кроватей и ванных комнат',
          dropdown: ['спальни', 'кровати', 'ванные комнаты']
        })
        