@use 'assets/scss/variables' as vars;

.page {
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__main {
    display: grid;
    margin-block: 140px;
    margin-inline: 141px;
    gap: 100px;
    grid-template-areas: 'first-block second-block third-block';
  }

  &__first-block {
    display: flex;
    flex-direction: column;
    grid-area: first-block;
    width: 320px;
    gap: 40px;
  }

  &__second-block {
    grid-area: second-block;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  &__second-block > &__element {
    row-gap: 16px;
  }

  &__wrapper {

    &_elements {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &_items {
      display: flex;
      gap: 10px;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &_width {
      &_266 {
        width: 266px;
      }

      &_150 {
        width: 150px;
      }
    }
  }

  &__titles {
    display: flex;
    justify-content: space-between;

    & > h3:nth-child(2):not(.page__element_width_150) {
      color: rgba(vars.$dark-shade, .5);
    }
  }
}
