include common/icon/icon.pug
include common/input/input.pug
include common/dropdown/dropdown.pug
include common/checkbox/checkbox.pug
include common/radio/radio.pug
include common/toggle/toggle.pug
include common/like/like.pug
include common/rate/rate.pug
include common/range/range.pug
include common/button/button.pug
include common/icon-link/icon-link.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.page
    .page__icon
      +icon
    .page__main
      .page__first-block
        .page__wrapper.page__wrapper_input
          .page__element
            .page__titles
              h3 text field
              h3 default
            +input({
              type: 'text'
            })
          .page__element
            .page__titles
              h3 text field
              h3 hover/focus
            +input({
              type: 'text',
              focused: true,
              value: 'This is pretty awesome'
            })
          .page__element
            .page__titles
              h3 dropdown 
            +dropdown({
              type: 'guests',
              items: ['взрослые', 'дети', 'младенцы'],
              placeholder: 'Сколько гостей'
            })
          .page__element
            .page__titles
              h3 masked text field 
            +input({
              type: 'text',
              placeholder: 'ДД.ММ.ГГГГ',
              mask: 'date'
            })
        .page__element
          .page__titles
            h3.page__element_width_150 date dropdown
            h3.page__element_width_150 date dropdown
          +dropdown({
            type: 'dates',
            placeholder: 'ДД.ММ.ГГГГ',
            valueTo: '19.08.2019'
          })
        .page__element.page__element_width_266
          .page__titles
            h3 filter date dropdown
          +dropdown({
            type: 'date-range',
            placeholder: 'Диапазон дат',
            value: '19.08.2019-23.08.2019'
          }) 
        .page__element.page__element_width_266
          .page__titles
            h3 subscription text field
          +input({
            type: 'email',
            button: true
          })
      .page__second-block 
        .page__element
          .page__titles
            h3 checkbox buttons
          +checkbox({
            items: [
              {text: 'Можно курить'},
              {text: 'Можно с питомцами', checked: true},
              {text: 'Можно пригласить гостей', hint: '(до 10 человек)', checked: true}]
          })
        .page__element
          .page__titles
            h3 radio buttons
          +radio({
            name: 'gender',
            items: [
              {text: 'Мужчина', checked: true},
              {text: 'Женщина'}
            ]
          })
        .page__element
          .page__titles
            h3 toggle
          +toggle({
            items: [
              {text: 'Получать спецпредложения', active: true},
              {text: 'Получать спецпредложения'}
            ]
          })
        .page__element 
          .page__titles 
            h3 like button
          .page__wrapper.page__wrapper_like
            +like({
              count: 2
            })
            +like({
              count: 12,
              active: true
            })
        .page__element 
          .page__titles 
            h3 rate button
          .page__wrapper
            +rate({
              rating: 4
            })
            +rate({
              rating: 5
            })
      .page__third-block 
        .page__element.page__element_width_266 
          .page__titles 
            h3 range slider
            h3#range-value 0₽ - 0₽
          +range({
            max: 20000,
            step: 1000,
            defMin: 5000,
            defMax: 10000
          })
        .page__element
          .page__titles
            h3 buttons
          .page__wrapper.page__wrapper_buttons
            .page__wrapper
              +button({
                text: 'click me'
              })
              +button({
                text: 'click me',
                active: true
              })
            .page__wrapper
              +button({
                text: 'click me',
                theme: 'white'
              })
              +button({
                text: 'click me',
                theme: 'white',
                active: true
              })
            .page__wrapper
              +icon-link({
                text: 'click me',
                link: '#'
              }) 
              +icon-link({
                text: 'click me',
                link: '#',
                active: true
              })
            +button({
              text: 'перейти к оплате',
              theme: 'arrow'
            })
      .page__fourth-block
        .page__element.page__element_width_266
          .page__titles
            h3 dropdown 
            h3 default
          +dropdown({
            type: 'room',
            items: ['спальни', 'кровати', 'ванные комнаты'],
            placeholder: 'Количество спален, кроватей и ванных комнат'
          })  
