include common/icon/icon.pug
include common/input/input.pug

mixin element(options)
  div(class='form-elements__element')
    h3(class='form-elements__title') #{options.name}
    h3(class='form-elements__mod') #{options.mod}
    div(class='form-elements__input')
      +input({
        type: 'email'
      })
  

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body
    div(class='form-elements__icon')
      +icon
    div(class='form-elements__content')
      +element({
        name: 'text field',
        mod: 'default',
        input: true,
        type: 'email'
      })