@use 'assets/scss/variables' as vars;

.page {
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__main, &__first-block, &__wrapper, &__element {
    display: grid;
  }

  &__main {
    margin-block: 140px;
    margin-inline: 141px;
    gap: 100px;
    grid-template-areas: 'first-block second-block third-block';
  }

  &__first-block {
    grid-area: first-block;
    width: 320px;
    gap: 40px;
  }

  &__second-block {
    grid-area: second-block;
  }

  &__second-block > &__element {
    row-gap: 16px;
  }

  &__wrapper {
    gap: 20px;
  }

  &__element { 
    grid-template-areas: 'title title' 'content content';
    row-gap: 5px;

    &_width {
      &_266 {
        width: 266px;
      }

      &_150 {
        width: 150px;
      }
    }

    &_mod {
      grid-template-areas: 'title mod' 'content content';
    }

    &-titles {
      grid-area: title;
      display: flex;
      gap: 20px;
    }

    &-title {
      grid-area: title;
    }
  
    &-mod {
      grid-area: mod;
      color: rgba(vars.$dark-shade, .5);
      text-align: end;
    }
  
    &-content {
      grid-area: content;
    }
  }
}

#date-from {
  grid-area: date-from;
}

#date-to {
  grid-area: date-to;
}
