include common/icon/icon.pug
include common/input/input.pug
include common/dropdown/dropdown.pug
include common/calendar/calendar.pug
include common/checkbox/checkbox.pug
include common/radio/radio.pug
include common/toggle/toggle.pug
include common/like/like.pug
include common/rate/rate.pug
include common/range/range.pug
include common/button/button.pug
include common/icon-link/icon-link.pug
include common/pagination/pagination.pug
include common/bullet/bullet.pug
include common/list/list.pug
include common/comment/comment.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.page
    .page__icon
      +icon
    .page__main
      .page__block
        .page__wrapper
          .page__wrapper.page__wrapper_vertical
            .page__element
              .page__titles
                h3 text field
                h3 default
              +input({
                type: 'text'
              })
            .page__element
              .page__titles
                h3 text field
                h3 hover/focus
              +input({
                type: 'text',
                focused: true,
                value: 'This is pretty awesome'
              })
            .page__element
              +dropdown({
                type: 'guests',
                title: 'dropdown',
                items: ['взрослые', 'дети', 'младенцы'],
                placeholder: 'Сколько гостей'
              })
            .page__element
              .page__titles
                h3 masked text field 
              +input({
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ',
                mask: 'date'
              })
          .page__element
            +calendar({
              titles: ['date dropdown', 'date dropdown'],
              placeholder: 'ДД.ММ.ГГГГ',
              dates: ['', '2019,08,19']
            })
          .page__element.page__element_width_266
            +calendar({
              titles: ['filter date dropdown'],
              placeholder: 'Диапазон дат',
              dates: ['2019,08,19', '2019,08,23']
            }) 
          .page__element.page__element_width_266
            .page__titles
              h3 subscription text field
            +input({
              type: 'email',
              button: true
            })
        .page__wrapper
          .page__element.page__element_gap_16
            .page__titles
              h3 checkbox buttons
            +checkbox({
              items: [
                {text: 'Можно курить'},
                {text: 'Можно с питомцами', checked: true},
                {text: 'Можно пригласить гостей', hint: '(до 10 человек)', checked: true}]
            })
          .page__element.page__element_gap_16
            .page__titles
              h3 radio buttons
            +radio({
              name: 'gender',
              items: [
                {text: 'Мужчина', checked: true},
                {text: 'Женщина'}
              ]
            })
          .page__element.page__element_gap_16
            .page__titles
              h3 toggle
            +toggle({
              items: [
                {text: 'Получать спецпредложения', active: true},
                {text: 'Получать спецпредложения'}
              ]
            })
          .page__element.page__element_gap_16
            .page__titles 
              h3 like button
            .page__wrapper.page__wrapper_horizontal.page__wrapper_gap_10
              +like({
                count: 2
              })
              +like({
                count: 12,
                active: true
              })
          .page__element.page__element_gap_16 
            .page__titles 
              h3 rate button
            .page__wrapper.page__wrapper_horizontal
              +rate({
                rating: 4
              })
              +rate({
                rating: 5
              })
        .page__wrapper
          .page__element.page__element_width_266.page__element_gap_20 
            .page__titles 
              h3 range slider
              h3#range-value 0₽ - 0₽
            +range({
              max: 15000,
              step: 1000,
              defMin: 5000,
              defMax: 10000
            })
          .page__element.page__element_gap_16
            .page__titles
              h3 buttons
            .page__wrapper.page__wrapper_gap_30
              .page__wrapper.page__wrapper_horizontal
                +button({
                  text: 'click me'
                })
                +button({
                  text: 'click me',
                  active: true
                })
              .page__wrapper.page__wrapper_horizontal
                +button({
                  text: 'click me',
                  theme: 'white'
                })
                +button({
                  text: 'click me',
                  theme: 'white',
                  active: true
                })
              .page__wrapper.page__wrapper_horizontal
                +icon-link({
                  text: 'click me',
                  link: '#'
                }) 
                +icon-link({
                  text: 'click me',
                  link: '#',
                  active: true
                })
              +button({
                text: 'перейти к оплате',
                theme: 'arrow'
              })
          .page__element.page__element_gap_16
            .page__titles
              h3 pagination
            +pagination({
              allItemsCount: 172,
              pageItemsCount: 12
            })
      .page__block
        .page__wrapper.page__wrapper_vertical
          .page__element.page__element_width_266
            +dropdown({
              type: 'room',
              title: 'dropdown',
              secondaryTitle: 'default',
              items: [
                {name: 'спальни', count: 2},
                {name: 'кровати', count: 2},
                {name: 'ванные комнаты'}
              ],
              placeholder: 'Количество спален, кроватей и ванных комнат'
            })  
          .page__element.page__element_width_266
            +dropdown({
              type: 'room',
              title: 'dropdown',
              secondaryTitle: 'expanded',
              items: [
                {name: 'спальни', count: 2},
                {name: 'кровати', count: 2},
                {name: 'ванные комнаты'}
              ],
              placeholder: 'Количество спален, кроватей и ванных комнат',
              submenuActive: true
            })
        .page__wrapper
          .page__element
            +dropdown({
              type: 'guests',
              title: 'dropdown',
              items: [
                'взрослые',
                'дети',
                'младенцы'
              ],
              placeholder: 'Сколько гостей',
              submenuActive: true
            })
        .page__wrapper
          .page__element
            +dropdown({
              type: 'guests',
              title: 'dropdown',
              items: [
                {name: 'взрослые', count: 2},
                {name: 'дети', count: 1},
                'младенцы'
              ],
              placeholder: 'Сколько гостей',
              submenuActive: true
            })
      .page__block
        .page__wrapper.page__wrapper_vertical
          .page__element.page__element_width_266
            +checkbox({
              expandable: true,
              title: 'expandable checkbox list',
              items: [
                {text: 'Завтрак'},
                {text: 'Письменный стол', checked: true},
                {text: 'Стул для кормления', checked: true},
                {text: 'Кроватка', checked: true},
                {text: 'Телевизор'},
                {text: 'Шампунь'},
                {text: 'Телевизор'},
                {text: 'Шампунь'}
              ]
            })
          .page__element.page__element_width_266
            +checkbox({
              expandable: true,
              title: 'expandable checkbox list',
              expanded: true,
              items: [
                {text: 'Завтрак'},
                {text: 'Письменный стол', checked: true},
                {text: 'Стул для кормления', checked: true},
                {text: 'Кроватка', checked: true},
                {text: 'Телевизор'},
                {text: 'Шампунь'},
                {text: 'Телевизор'},
                {text: 'Шампунь'}
              ]
            })
        .page__wrapper
          .page__element.page__element_width_266.page__element_gap_16     
            .page__titles
              h3 rich checkbox buttons
            +checkbox({
              rich: true,
              items: [
                {text: 'Широкий коридор', hint: 'Ширина коридоров в номере/br не менее 91 см.'},
                {text: 'Помощник для инвалидов', hint: 'На 1 этаже вас встретит специалист/br и проводит до номера.'}
              ]
            })
        .page__wrapper
          .page__element.page__element_gap_16
            .page__titles
              h3 bullet list
            +bullet({
              items: [
                'Нельзя с питомцами',
                'Без вечеринок и мероприятий',
                'Время прибытия — после 13:00,/br а выезд до 12:00'
              ]
            })
      .page__block
        .page__wrapper
          .page__element
            +list({
              items: [
                {title: 'Комфорт', hint: 'Шумопоглощающие стены', icon: 'insert_emoticon'},
                {title: 'Удобство', hint: 'Окно в каждой из спален', icon: 'location_city'}
              ]
            })
        .page__element.page__element_column-size_2
          +comment({
            avatar: 'avatar1.png',
            name: 'Мурад Сарафанов',
            date: '5 дней назад',
            likes: 12,
            text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий./br И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто/br не жаловался из соседей.'
          })
