@use 'assets/scss/variables' as vars;

.page {
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  &__main {
    display: grid;
    margin-block: 140px;
    margin-inline: 141px;

    & > div:nth-child(2) {
      margin-top: 100px;
    }

    & > div:nth-child(3) {
      margin-top: 40px;

      & > div:not(:nth-child(1)) {
        padding-top: 14px;
      }
    }

    & > div:nth-child(4) {
      margin-top: 40px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & > div:not(:nth-child(1)) {
      justify-self: end;
    }
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    width: 320px;
    flex-direction: column;

    &_vertical {
      gap: 20px;
    }

    &_horizontal {
      gap: 20px;
      flex-direction: row;
    }

    &_gap_10 {
      gap: 10px;
    }

    &_gap_30 {
      gap: 30px;
    }
  }

  &__element {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    &_width {
      &_266 {
        width: 266px;
      }

      &_150 {
        width: 150px;
      }
    }

    &_gap {
      &_16 {
        row-gap: 16px;
      }

      &_20 {
        row-gap: 20px;
      }
    }

    &_column-size {
      &_2 {
        grid-column: 2/4;
      }
    }
  }

  &__titles {
    display: flex;
    justify-content: space-between;

    & > h3:nth-child(2):not(.page__element_width_150) {
      color: rgba(vars.$dark-shade, .5);
    }
  }
}
