include common/icon/icon.pug
include common/input/input.pug
include common/dropdown/dropdown.pug
include common/checkbox/checkbox.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Form Elements
  body.page
    .page__icon
      +icon
    .page__main
      .page__first-block
        .page__wrapper
          .page__element
            h3.page__element-title text field
            h3.page__element-mod default
            .page__element-content
              +input({
                type: 'text'
              })
          .page__element
            h3.page__element-title text field
            h3.page__element-mod hover/focus
            .page__element-content
              +input({
                type: 'text',
                focused: true,
                value: 'This is pretty awesome'
              })
          .page__element 
            h3.page__element-title dropdown 
            .page__element-content 
              +dropdown({
                type: 'guests',
                items: ['взрослые', 'дети', 'младенцы'],
                placeholder: 'Сколько гостей'
              })
          .page__element
            h3.page__element-title masked text field 
            .page__element-content
              +input({
                type: 'text',
                placeholder: 'ДД.ММ.ГГГГ',
                mask: 'date'
              })
        .page__element
          .page__element-titles
            h3.page__element_width_150 date dropdown
            h3.page__element_width_150 date dropdown
          .page__element-content 
            +dropdown({
              type: 'dates',
              placeholder: 'ДД.ММ.ГГГГ',
              valueTo: '19.08.2019'
            })
        .page__element.page__element_width_266
            h3.page__element-title filter date dropdown
            .page__element-content 
              +dropdown({
                type: 'date-range',
                placeholder: 'Диапазон дат',
                value: '19.08.2019-23.08.2019'
              }) 
        .page__element.page__element_width_266 
          h3.page__element-title subscription text field
          .page__element-content 
            +input({
              type: 'email',
              button: true
            })
      .page__second-block 
        .page__element
          h3.page__element-title checkbox buttons
          .page__element-content
            +checkbox({
              items: [
                {text: 'Можно курить'},
                {text: 'Можно с питомцами'},
                {text: 'Можно пригласить гостей', hint: '(до 10 человек)'}]
            })
        .page__element 
          h3.page__element-title radio buttons
          .page__element-content 

      //- .page__second-block
      //-   .page__element.page__element_width_266  
      //-     h3.page__element-title dropdown 
      //-     h3.page__element-mod default
      //-     .page__element-content 
      //-       +dropdown({
      //-         type: 'room',
      //-         items: ['спальни', 'кровати', 'ванные комнаты'],
      //-         placeholder: 'Количество спален, кроватей и ванных комнат'
      //-       })
        