mixin dropdown(options)
  -
    let isGuests = options.type == 'guests';
    let dropdownAttrs = {
      ...(options.type && {'data-dropdown-type': options.type})
    }
    let shellAttrs = {
      ...(options.submenuActive === true && {class: 'dropdown__shell_focused dropdown__shell_radius_top'})
    };
    let insideAttrs = {
      ...(options.value && {value: options.value}),
      ...(options.placeholder ? {placeholder: options.placeholder} : {placeholder: options.type.charAt(0).toUpperCase()+options.type.slice(1)}),
      ...(options.required === true && {required: true}),
      ...(options.type && {'data-dropdown-type': options.type}),
      ...(isDate && {id: options.type})
    };
    let submenuAttrs = {
      ...(options.submenuActive === true && {class: 'dropdown__submenu_visible dropdown__submenu_solid'})
    };

  .dropdown&attributes(dropdownAttrs)
    .dropdown__title
      h3 #{options.title}
      if options.secondaryTitle
        h3 #{options.secondaryTitle}
    .dropdown__shell(tabindex="0")&attributes(shellAttrs)
      input.dropdown__inside.unselect(type='text' readonly)&attributes(insideAttrs)
      span.dropdown__arrow.material-icons.unselect expand_more
    .dropdown__submenu&attributes(submenuAttrs)
      - for (let item of options.items)
        .dropdown__submenu-element
          h3.dropdown__title.unselect #{item.name ? item.name : item}
          .dropdown__counter
            button.dropdown__button.dropdown__button-minus.unselect -
            h3.dropdown__count.unselect #{item.count ? item.count : 0}
            button.dropdown__button.dropdown__button-plus.unselect +
      if isGuests
        .dropdown__buttons
          button.dropdown__button-clear очистить
          button.dropdown__button-confirm применить
