@use '../../assets/scss/variables' as vars;

.footer {
  width: 100%;

  &__main, &__copyright {
    background-color: white;
    padding-inline: 140px;
    transition: .3s;
  }

  &__logo {
    &_hidden {
      display: none;
    }
  }

  &__main {
    display: flex;
    gap: 40px;
    padding-block: 100px;
    
    &_border {
      border-top: 1px solid vars.$dark-shade-25;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__about, &__subscription {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 260px;
    flex-shrink: 0;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link::first-letter {
    text-transform: capitalize;
  }

  &__link {
    &:focus-visible, &:focus, &:hover {
      color: vars.$dark-shade-75;
      @include vars.fake-bold;
    }
  }

  &__copyright {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 140px;
    margin-top: 1px;
  }
}

@mixin mobile-footer {
  &__main {
    display: none;
  }

  &__logo {
    &_hidden {
      display: block;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    height: auto;
    padding-block: 120px;
    padding-inline: 20px;

    & > p {
      text-align: center;
    }
  }
}

.footer[data-mobile='true'] {
  align-items: center;
  padding: 0;

  .footer {
    @include mobile-footer;
  }
}

@media (940px < width < 1200px) {
  .footer {
    &__main, &__copyright {
      padding-inline: 20px;
    }
  }
}

@media (0 < width < 940px) {
  .footer {
    align-items: center;
    @include mobile-footer;
  }
}
