include common/logo/logo.pug
include common/input/input.pug
include common/social/social.pug

mixin footer__menu(title, items)
  nav.footer__menu
    h3.footer__title #{title}
    - for (let item of items)
      .footer__link
        a(href=item.link) #{item.name}

mixin footer(options)
  -
    let footerAttrs = {
      ...(options?.mobile === true && {'data-mobile': 'true'})
    };
    let footerMainAttrs = {
      ...(options?.border === true && {class: 'footer__main_border'}) 
    };

  footer.footer&attributes(footerAttrs)
    .footer__main&attributes(footerMainAttrs)
      .footer__about
        .footer__logo
          +logo({image: 'logo.png'})
        p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"
      .footer__navigation
        +footer__menu('навигация',[
          {
            name: 'о нас',
            link: '#'
          },
          {
            name: 'новости',
            link: '#'
          },
          {
            name: 'служба поддержки',
            link: '#'
          },
          {
            name: 'услуги',
            link: '#'
          }
        ])
        +footer__menu('о нас',[
          {
            name: 'о сервисе',
            link: '#'
          },
          {
            name: 'наша команда',
            link: '#'
          },
          {
            name: 'вакансии',
            link: '#'
          },
          {
            name: 'инвесторы',
            link: '#'
          }
        ])
        +footer__menu('служба поддержки',[
          {
            name: 'соглашения',
            link: '#'
          },
          {
            name: 'сообщества',
            link: '#'
          },
          {
            name: 'связь с нами',
            link: '#'
          }
        ])
        form(class='footer__subscription')
          h3.footer__title подписка
          p.footer__text Получайте специальные предложения и новости сервиса
          .footer__input
            +input({
              type: 'email',
              button: true
            })
    aside.footer__copyright
      .footer__logo.footer__logo_hidden
        +logo({image: 'logo.png'})
      p Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social
        +social(
          {
            items: [
              {
                name: 'twitter',
                link: '#'
              },
              {
                name: 'facebook-square',
                link: '#'
              },
              {
                name: 'instagram',
                link: '#'
              }
            ]
          }
        )
