@use '../input/input';
@use '../social/social';
@use '../../assets/scss/variables' as vars;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;

  &__main {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-inline: 140px;
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding-top: 104px;
  }

  &__text {
    margin-top: 20px;
  }

  &__about {
    width: 260px;
    padding-block: 100px 140px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-top: 20px;
  }

  &__link > a::first-letter {
    text-transform: capitalize;
  }

  &__input {
    margin-top: 20px;
  }

  &__copyright {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 140px;
    border-top: 1px solid rgba(vars.$dark-shade, .05);
  }
}
