include ../logo/logo.pug
include ../input/input.pug
include ../social/social.pug

mixin footer__menu(title, items)
  nav(class='footer__menu')
    h3(class='footer__title') #{title}
    - for (let item of items)
      div(class='footer__link')
        a(href=item.link) #{item.name}

mixin footer()
  footer(class='footer')
    div(class='footer__main')
      div(class='footer__about')
        div(class='footer__logo')
          +logo()
        p(class='footer__text') Бронирование номеров в лучшем отеле 2019 года по версии ассоциации "Отельные взгляды"
      div(class='footer__navigation')
        +footer__menu('навигация',[
          {
            name: 'о нас',
            link: '#'
          },
          {
            name: 'новости',
            link: '#'
          },
          {
            name: 'служба поддержки',
            link: '#'
          },
          {
            name: 'услуги',
            link: '#'
          }
        ])
        +footer__menu('о нас',[
          {
            name: 'о сервисе',
            link: '#'
          },
          {
            name: 'наша команда',
            link: '#'
          },
          {
            name: 'вакансии',
            link: '#'
          },
          {
            name: 'инвесторы',
            link: '#'
          }
        ])
        +footer__menu('служба поддержки',[
          {
            name: 'соглашения',
            link: '#'
          },
          {
            name: 'сообщества',
            link: '#'
          },
          {
            name: 'связь с нами',
            link: '#'
          }
        ])
        form(class='footer__subscription')
          h3(class='footer__title') подписка
          p(class='footer__text') Получайте специальные предложения и новости сервиса
          div(class='footer__input')
            +input({
              type: 'email',
              arrowButton: true
            })
    aside(class='footer__copyright')
      p Copyright © 2018 Toxin отель. Все права защищены.
      div(class='footer__social')
        +social()
      
