doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Main page
  body 
    nav
      -
        let uiKitItems = [
          {
            name: 'Headers & Footers',
            link: './headers-footers.html'
          },
          {
            name: 'Colors & Type',
            link: './colors-type.html'
          },
          {
            name: 'Cards',
            link: './cards.html'
          },
          {
            name: 'Form Elements',
            link: './form-elements.html'
          }
        ];

      ul.main__menu Ui-Kit
        - for (let item of uiKitItems)
          li.main__element
            a.main__link(href=item.link) #{item.name}
