doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Main page
  body 
    nav
      -
        let uiKitPages = [
          {
            name: 'Headers & Footers',
            link: './headers-footers.html'
          },
          {
            name: 'Colors & Type',
            link: './colors-type.html'
          },
          {
            name: 'Cards',
            link: './cards.html'
          },
          {
            name: 'Form Elements',
            link: './form-elements.html'
          }
        ];
        let pages = [
          {
            name: 'Landing Page',
            link: './landing.html'
          },
          {
            name: 'Search Room/Filter',
            link: './filter.html'
          },
          {
            name: 'Room Details',
            link: './room-details-888.html'
          },
          {
            name: 'Registration',
            link: './registration.html'
          },
          {
            name: 'Sign In',
            link: './login.html'
          }
        ];

      ul.main__menu Ui-Kit
        - for (let page of uiKitPages)
          li.main__element
            a.main__link(href=page.link) #{page.name}
      ul.main__menu Main Pages
        each page in pages
          li.main__element
            a.main__link(href=page.link) #{page.name}
