@use 'assets/scss/variables' as vars;

.main {
  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 15px;

    & > li:nth-child(1) {
      margin-top: 5px;
    }
  }

  &__element {
    width: fit-content;
    border: 1px solid vars.$dark-shade-25;
    border-radius: 10px;
    background: vars.$dark-shade-50;

    &:hover {
      color: vars.$dark-shade-50;
    }
  }

  &__link {
    color: white;
    padding: 5px;

    &:hover {
      color: vars.$dark-shade-50;
      font-weight: normal;
    }
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Montserrat-Regular.woff2) format('woff2')
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: vars.$dark-shade-75;
  font-size: 14px;
  line-height: 24px;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  display: block;
  line-height: 17px;
  text-decoration: none;
  color: vars.$dark-shade-50;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible, &:focus, &:hover {
    color: vars.$dark-shade-75;
    @include vars.fake-bold;
  }
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border-radius: inherit;
  background-color: transparent;
}

button {
  outline: 0;

  &:hover:enabled {
    cursor: pointer;
  }

  &:disabled {
    border-color: vars.$dark-shade-5;
    color: vars.$dark-shade-25;
  }
}

input {
  &:read-only:not([type='submit']) {
    cursor: default;
  }
  &::placeholder {
    color: vars.$dark-shade-25;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: vars.$dark-shade;
  font-weight: bold;
}

h1::first-letter, h2::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
}

.unselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
