include common/icon/icon.pug
include common/calendar/calendar.pug
include cards/search/search.pug
include cards/payment/payment.pug
include cards/registration/registration.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body
    .page__icon
      +icon
    .page__main
      .page__block
        +search
        +registration
      .page__block
        +payment({
          number: 888,
          type: 'люкс',
          cost: 9990,
          fee: 0,
          discount: 2179,
          additionalFee: 300
        })
      .page__block
        .page__element
          +calendar({
            type: 'dates',
            titles: ['', ''],
            dates: ['2019,08,19', '2019,08,23'],
            datepickerOnly: true
          })
