body {
  background-color: #E5E5E5;
}

.page {
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  
  &__main {
    margin-block: 150px;
    margin-inline: 140px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__block {
    display: grid;
    gap: 40px;
  }

  &__element {
    width: 320px;
  }
}
