include common/icon/icon.pug
include cards/search/search.pug
include cards/payment/payment.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cards
  body
    .page__icon
      +icon
    .page__main
      .page__block
        +search
      .page__block
        +payment({
          number: 888,
          type: 'люкс',
          cost: 9990,
          fee: 0,
          discount: 2179,
          additionalFee: 300
        })
