body {
  background-color: #E5E5E5;
}

.page {
  &__icon {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  
  &__main {
    margin-block: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
