mixin menu(items)
  nav(class='menu')
    - for (let item of items)
      -
        let menuArrow = item.arrow ? item.arrow : false
        let menuFocus = item.focused === true ? ' menu__item_focused' : ''
      a(class='menu__item'+menuFocus href=item.link)
        span(class='menu__item_name') #{item.name}
        if menuArrow === true
          span(class='menu__item_icon material-icons') expand_more