@use '../../assets/scss/variables.scss' as vars;

.menu {
  display: flex;

  &__item {
    display: flex;
    align-items: center;

    &:nth-child(n):not(:last-child) {
      margin-right: 20px;
    }

    &_focused {
      color: rgba(vars.$dark-shade, .75);
      font-weight: bold;
    }
  }

  &__name {

    &::first-letter {
      text-transform: capitalize;
    }
  }
}
