@use '../../assets/scss/variables.scss' as vars;

.menu {

  &__link {
    display: inline-block;

    &:nth-child(n):not(:last-child) {
      margin-right: 20px;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &_focused {
      color: vars.$dark-shade-75;
      text-shadow: 0 0 1px vars.$dark-shade-75;
    }
  }

  &__arrow {
    position: relative;
    top: 7px;
  }
}
