mixin menu(items)
  nav(class='menu')
    - for (let item of items)
      -
        let menuArrow = item.arrow ? item.arrow : false
        let menuFocus = item.focused === true ? ' menu__link_focused' : ''
      a(class='menu__link'+menuFocus href=item.link)
        span(class='menu__name') #{item.name}
        if menuArrow === true
          span(class='material-icons') expand_more