mixin menu(items)
  nav(class='menu')
    - for (let item of items)
      -
        let hasArrow = item.arrow ? item.arrow : false
        let isFocus = item.focused === true ? ' menu__item_focused' : ''
      a(class='menu__item'+isFocus href=item.link)
        span(class='menu__name') #{item.name}
        if hasArrow === true
          span(class='menu__arrow material-icons') expand_more
